
<div *ngFor="let question of questions; let i = index">
    <app-question [question]="question" [questionIndex]="i" (optionSelected)="onOptionSelected($event.optionIndex, $event.questionIndex)"></app-question>
  </div>
  
  <button (click)="submitQuiz()">Submit Quiz</button>
  
  <!--Најпрво, со помош на директивата *ngFor се итерира низ сите прашања кои се чуваат во questions низата. За секое прашање се создава елемент во DOM-от користејќи 
  ја компонентата app-question. Кога корисникот ќе избере опција во некое прашање, се повикува методот onOptionSelected($event.optionIndex, $event.questionIndex).
  После листата од прашања, има копче (click)="submitQuiz()",   кое што се користи за поднесување на квизот. Кога корисникот ќе кликне на ова копче, се прави проверка на одговорите 
  и зачувување на резултатите.-->