<!-- question.component.html -->

<div>
    <p>{{ question.text }}</p>
    <ul>
      <li *ngFor="let option of question.options; let i = index" (click)="selectOption(i)" [class.selected]="selectedOption === i">
        {{ option }}
      </li>
    </ul>
</div>
<!--Со помош на *ngFor се итерира низ сите опции на прашањето кои се чуваат во question.options.
За секоја опција се поставува клик настан (click)="selectOption(i)", каде што selectOption(i) е метод на Angular компонентата кој што се повикува кога корисникот 
ќе кликне на дадена опција. i е индексот на моментално избраната опција.Дополнително, се користи директивата [class.selected]="selectedOption === i" за да се стилизира избраната опција.-->
